html{ 
    height: 100%;
}

body{
    background-color: #228B22;
    height: 90%;
}

h1 {
    color: orange;
}

main {
    position: relative;
    height: 80%;
}

section {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: rgba(255,255,255, 0.5);
    height: 40%;
    width: 80%;
    box-shadow: 10px 5px 5px black;
}

form {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, button {
    display: block;
}

div + div {
    margin: 5% 0%;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid black;
}